@mixin large-text{
  font: {
    family: 'Arial Fett', 'Arial Standard', 'Arial';
    weight: 700;
    style: normal;
  };
  color: white;
}
@mixin bg-properties {
  height: 100%;
  width: 100%;
  background-size: cover;
}
@mixin font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
$animate:all 0.2s ease-in-out;
body{
  .complete_song-general-page{

    width: 100%;
    height: 100%;
    display: flex;
    .songpiece_choose_usagetype{
      background-image: url("../images/complete_song/complete  song.jpeg");
    }
    .songpiece_genre{
      background-image:url("../images/complete_song/guitar-classical-guitar-acoustic-guitar-electric-guitar.jpg");
    }
    .songpiece_singing_songtext{
      background-image: url("../images/complete_song/music2.jpeg");
    }
    .songpiece_singing_voicetype{
      background-image: url("../images/complete_song/night-vintage.jpg");
    }
    .songpiece_instrumentals_instruments{
      background-image: url("../images/complete_song/photo1.jpeg");
    }
    .songpiece_instrumentals_instrument_choosed{
      background-image: url("../images/complete_song/pexels-photo-96857.jpeg");
    }
    .songpiece_choose_melody{
      background-image: url("../images/complete_song/pexels-photo-60783.jpeg");
    }
    .songpiece_song_mood{
      background-image: url("../images/complete_song/pexels-photo-290660.jpeg");
    }
    .songpiece_deadline{
      background-image: url("../images/complete_song/pexels-photo-363905.jpeg");
    }
    .songpiece_budget{
      background-image: url("../images/complete_song/pexels-photo-167446.jpeg");
    }

    .songpiece_genre1{
      background-image: url("../images/complete_song/photo555.jpeg");
    }
    .songpiece_singing_songtext1{
      background-image: url("../images/complete_song/mobile-phone-iphone-music-38295.jpeg");
    }
    .songpiece_singing_voicetype1{
      background-image: url( "../images/complete_song/pexels-photo-258291.jpeg");
    }
    .songpiece_instrumentals_instruments1{
      background-image: url("../images/complete_song/man-person-wall-music.jpg");
    }
    .songpiece_instrumentals_instrument_choosed1{
      background-image: url("../images/complete_song/pexels-photo-96857.jpeg");
    }
    .songpiece_choose_melody1{
      background-image: url("../images/complete_song/woman-girl-technology-music.jpg");
    }
    .songpiece_song_mood1{
      background-image: url("../images/complete_song/photo5.jpeg");
    }
    .songpiece_deadline1{
      background-image: url("../images/complete_song/pexels-photo-164716.jpeg");
    }
    .songpiece_budget1{
      background-image: url("../images/complete_song/photo8.jpeg");
    }
  }
}

