@mixin large-text{
    font: {
        family: 'Arial Fett', 'Arial Standard', 'Arial';
        weight: 700;
        style: normal;
    };
    color: white;
}
@mixin bg-properties {
  height: 100%;
  width: 100%;
  background-size: cover;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}

body {
  .songwriting_choose_usagetype {
    width: 100%;
    height: 100%;
    display: flex;
    .songwriting_choose_usagetype_private_use {
      background-image: url("../images/instrumentals/photo-1475275166152-f1e8005f9854.jpg");
    }
    .songwriting_songtext {
      background-image: url("../images/songwriting/photo4.jpg");
    }
    .songwriting_deadline {
      background-image: url("../images/songwriting/photo14.jpeg");
    }
    .songwriting_budget {
      background-image: url("../images/songwriting/photo5.jpg");
    }
    .commercial_use-songtext {
      background-image: url("../images/songwriting/photo12.jpeg");
    }
    .commercial_use-deadline {
      background-image: url("../images/songwriting/photo18.jpeg");
    }
    .commercial_use-budget {
      background-image: url("../images/songwriting/photo6.jpeg");
    }
    .thank_you{
      background-image: url("../images/songwriting/photo6.jpeg");
      .center-one {
        text-align: center;

        h1 {
          @include large-text;
          font-size: 30px;
          text-shadow: 1px 2px 7px black;
          display: inline-block;
          text-align: center;
          margin: 70px 0 40px 0;
          vertical-align: middle;
          position: relative;
        }

        span {
          border: 2px solid white;
          border-radius: 50px;
          top: 5px;
          padding: 0 13px;
          font-size: 23px;
          color: white;
        }
        p {
          @include large-text;
          font-size: 20px;
          margin: 0 0 24px 0;
          font-weight: 600;
          text-align: center;
          text-shadow: 1px 2px 7px black;
        }
      }
    }
  }
}

