@media screen and (max-width: 768px) {
  html, body {
    overflow-y: scroll;
    background-size: cover;
    background-attachment: fixed; }
    html .home, body .home {
      overflow-y: scroll; }
      html .home .hidingScrollBar .header .home-page, body .home .hidingScrollBar .header .home-page {
        max-width: 100%; }
        html .home .hidingScrollBar .header .home-page h1, body .home .hidingScrollBar .header .home-page h1 {
          text-align: center; }
        html .home .hidingScrollBar .header .home-page p, body .home .hidingScrollBar .header .home-page p {
          text-align: center; }
      html .home .hidingScrollBar .groups, body .home .hidingScrollBar .groups {
        position: relative;
        padding: 20px;
        -webkit-transition: 3000ms;
        -o-transition: 3000ms;
        transition: 3000ms;
        text-align: center; }
        html .home .hidingScrollBar .groups .group-content, body .home .hidingScrollBar .groups .group-content {
          cursor: pointer;
          overflow: hidden;
          height: 500px;
          width: 100%;
          -webkit-box-shadow: 4px 0 4px darkslategrey;
          box-shadow: 4px 0 4px darkslategrey;
          border-radius: 2px; }
          html .home .hidingScrollBar .groups .group-content img, body .home .hidingScrollBar .groups .group-content img {
            width: 100%;
            height: 100%;
            border-radius: 5px; }
          html .home .hidingScrollBar .groups .group-content .description, body .home .hidingScrollBar .groups .group-content .description {
            cursor: pointer;
            display: block;
            position: -webkit-sticky;
            position: sticky;
            bottom: 0px;
            height: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: white;
            background-color: rgba(0, 0, 0, 0.3); }
            html .home .hidingScrollBar .groups .group-content .description a, body .home .hidingScrollBar .groups .group-content .description a {
              text-decoration: none;
              -webkit-text-emphasis: none;
              text-emphasis: none;
              text-align: center; }
              html .home .hidingScrollBar .groups .group-content .description a h3, body .home .hidingScrollBar .groups .group-content .description a h3 {
                font-weight: 300;
                color: #fff;
                display: block;
                font-size: 30px;
                text-decoration: none;
                text-align: center;
                text-shadow: 2px 3px 7px black;
                padding: 95px 20px; }
          html .home .hidingScrollBar .groups .group-content:hover .description, body .home .hidingScrollBar .groups .group-content:hover .description {
            bottom: 0;
            display: block;
            -webkit-transition: 400ms;
            -o-transition: 400ms;
            transition: 400ms; }
        html .home .hidingScrollBar .groups .group-text a, body .home .hidingScrollBar .groups .group-text a {
          width: 200px;
          text-align: center;
          font-size: 30px;
          text-shadow: 2px 3px 7px black;
          color: white;
          text-decoration: none;
          cursor: pointer;
          padding-top: 50px; }
    html .main-general, body .main-general {
      height: auto;
      width: 100%;
      background-size: cover; }
      html .main-general .page-question, body .main-general .page-question {
        padding-top: 100px; }
      html .main-general .bullets, body .main-general .bullets {
        top: 230px; }
      html .main-general .button, body .main-general .button {
        text-align: center; }
        html .main-general .button .btn, body .main-general .button .btn {
          display: inline-block;
          height: 56px;
          line-height: 50px;
          position: relative;
          border: 3px solid #8DB835;
          padding: 0 1rem;
          color: white;
          font-size: 25px;
          font-weight: 700;
          text-align: center;
          border-radius: 1px;
          width: 88%;
          background-color: rgba(255, 255, 255, 0);
          -webkit-box-shadow: 1px 2px 6px #ffffff;
          box-shadow: 1px 2px 6px #ffffff;
          text-shadow: 1px 2px 7px black;
          margin: 40px auto; }
          html .main-general .button .btn:hover, body .main-general .button .btn:hover {
            color: white;
            background-color: #8DB835;
            -webkit-transition: 2000ms;
            -o-transition: 2000ms;
            transition: 2000ms; }
        html .main-general .button ul li input[type=radio]:checked ~ label, body .main-general .button ul li input[type=radio]:checked ~ label {
          color: white;
          background-color: #8DB835;
          width: 100%;
          margin: 20px auto; }
        html .main-general .button ul li label, body .main-general .button ul li label {
          cursor: pointer;
          display: block;
          height: 56px;
          line-height: 50px;
          border: 3px solid #8DB835;
          padding: 0 1rem;
          color: white;
          font-size: 25px;
          font-weight: 700;
          text-align: center;
          border-radius: 1px;
          width: 100%;
          background-color: rgba(255, 255, 255, 0);
          -webkit-box-shadow: 1px 2px 6px #ffffff;
          box-shadow: 1px 2px 6px #ffffff;
          text-shadow: 1px 2px 7px black;
          margin: 30px auto; }
        html .main-general .button p, body .main-general .button p {
          display: inline-block;
          color: white;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          text-shadow: 1px 2px 8px black; }
      html .main-general .final-submit-page .review-page, body .main-general .final-submit-page .review-page {
        background-attachment: scroll; }
    html .contact-modal .wrapper, html .main-modal .wrapper, body .contact-modal .wrapper, body .main-modal .wrapper {
      width: auto;
      height: auto; }
      html .contact-modal .wrapper input, html .main-modal .wrapper input, body .contact-modal .wrapper input, body .main-modal .wrapper input {
        margin: 0 auto;
        width: 100%;
        height: 30px; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  html .home, body .home {
    overflow-y: scroll; }
    html .home .hidingScrollBar .header .home-page, body .home .hidingScrollBar .header .home-page {
      max-width: 100%; }
    html .home .hidingScrollBar .groups .group-content, body .home .hidingScrollBar .groups .group-content {
      cursor: pointer;
      overflow: hidden;
      height: 500px;
      width: 100%; }
      html .home .hidingScrollBar .groups .group-content img, body .home .hidingScrollBar .groups .group-content img {
        width: 100%;
        height: 100%;
        border-radius: 5px; }
      html .home .hidingScrollBar .groups .group-content .description, body .home .hidingScrollBar .groups .group-content .description {
        bottom: -545px; }
      html .home .hidingScrollBar .groups .group-content:hover .description, body .home .hidingScrollBar .groups .group-content:hover .description {
        bottom: 0;
        display: block;
        -webkit-transition: 400ms;
        -o-transition: 400ms;
        transition: 400ms; }
    html .home .hidingScrollBar .groups .group-text a, body .home .hidingScrollBar .groups .group-text a {
      width: 200px;
      text-align: center;
      font-size: 30px;
      text-shadow: 2px 3px 7px black;
      color: white;
      text-decoration: none;
      cursor: pointer;
      padding-top: 50px; }
  html .main-general, body .main-general {
    height: 100%; }
    html .main-general .button, body .main-general .button {
      text-align: center; }
      html .main-general .button .btn, body .main-general .button .btn {
        display: inline-block;
        height: 56px;
        line-height: 50px;
        position: relative;
        border: 3px solid #8DB835;
        padding: 0 1rem;
        color: white;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        border-radius: 1px;
        width: 88%;
        background-color: rgba(255, 255, 255, 0);
        -webkit-box-shadow: 1px 2px 6px #ffffff;
        box-shadow: 1px 2px 6px #ffffff;
        text-shadow: 1px 2px 7px black;
        margin: 20px auto; }
        html .main-general .button .btn:hover, body .main-general .button .btn:hover {
          color: white;
          background-color: #8DB835;
          -webkit-transition: 2000ms;
          -o-transition: 2000ms;
          transition: 2000ms; }
      html .main-general .button p, body .main-general .button p {
        display: inline-block;
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 2px 8px black; } }

@media screen and (min-width: 1024px) {
  body .home {
    overflow-y: scroll; }
    body .home .hidingScrollBar .header .home-page {
      max-width: 100%; }
      body .home .hidingScrollBar .header .home-page h1 {
        text-align: center; }
      body .home .hidingScrollBar .header .home-page p {
        text-align: center; }
    body .home .hidingScrollBar .groups {
      position: relative;
      padding: 20px;
      -webkit-transition: 3000ms;
      -o-transition: 3000ms;
      transition: 3000ms;
      text-align: center; }
      body .home .hidingScrollBar .groups .group-content {
        cursor: pointer;
        overflow: hidden;
        height: 500px;
        width: 100%;
        -webkit-box-shadow: 4px 0 4px darkslategrey;
        box-shadow: 4px 0 4px darkslategrey;
        border-radius: 2px; }
        body .home .hidingScrollBar .groups .group-content img {
          width: 100%;
          height: 100%;
          border-radius: 5px; }
        body .home .hidingScrollBar .groups .group-content .description {
          cursor: pointer;
          display: block;
          position: -webkit-sticky;
          position: sticky;
          bottom: -545px;
          height: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          color: white;
          background-color: rgba(0, 0, 0, 0.3); }
          body .home .hidingScrollBar .groups .group-content .description a {
            text-decoration: none;
            -webkit-text-emphasis: none;
            text-emphasis: none;
            text-align: center; }
            body .home .hidingScrollBar .groups .group-content .description a h3 {
              font-weight: 300;
              color: #fff;
              display: block;
              font-size: 30px;
              text-decoration: none;
              text-align: center;
              text-shadow: 2px 3px 7px black;
              padding: 95px 20px; }
        body .home .hidingScrollBar .groups .group-content:hover .description {
          bottom: 0;
          display: block;
          -webkit-transition: 400ms;
          -o-transition: 400ms;
          transition: 400ms; }
      body .home .hidingScrollBar .groups .group-text a {
        width: 200px;
        text-align: center;
        font-size: 30px;
        text-shadow: 2px 3px 7px black;
        color: white;
        text-decoration: none;
        cursor: pointer;
        padding-top: 50px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed; }
    html .home, body .home {
      overflow-y: scroll; }
      html .home .hidingScrollBar .header .home-page, body .home .hidingScrollBar .header .home-page {
        max-width: 100%; }
        html .home .hidingScrollBar .header .home-page h1, body .home .hidingScrollBar .header .home-page h1 {
          text-align: center; }
        html .home .hidingScrollBar .header .home-page p, body .home .hidingScrollBar .header .home-page p {
          text-align: center; }
      html .home .hidingScrollBar .groups, body .home .hidingScrollBar .groups {
        position: relative;
        padding: 20px; }
        html .home .hidingScrollBar .groups .group-content, body .home .hidingScrollBar .groups .group-content {
          cursor: pointer;
          overflow: hidden;
          height: 500px;
          width: 100%; }
          html .home .hidingScrollBar .groups .group-content img, body .home .hidingScrollBar .groups .group-content img {
            width: 100%;
            height: 100%;
            border-radius: 5px; }
          html .home .hidingScrollBar .groups .group-content .description, body .home .hidingScrollBar .groups .group-content .description {
            display: block;
            bottom: 0px;
            height: 100%; }
            html .home .hidingScrollBar .groups .group-content .description a p, body .home .hidingScrollBar .groups .group-content .description a p {
              font-size: 22px; }
          html .home .hidingScrollBar .groups .group-content:hover .description, body .home .hidingScrollBar .groups .group-content:hover .description {
            bottom: 0;
            display: block;
            -webkit-transition: 400ms;
            -o-transition: 400ms;
            transition: 400ms; }
        html .home .hidingScrollBar .groups .group-text a, body .home .hidingScrollBar .groups .group-text a {
          width: 200px;
          text-align: center;
          font-size: 30px;
          text-shadow: 2px 3px 7px black;
          color: white;
          text-decoration: none;
          cursor: pointer;
          padding-top: 50px; }
    html .main-general .main-content, body .main-general .main-content {
      margin: 100px auto;
      text-align: center; }
    html .main-general .button, body .main-general .button {
      text-align: center; }
      html .main-general .button .btn, body .main-general .button .btn {
        display: inline-block;
        height: 56px;
        line-height: 50px;
        position: relative;
        border: 3px solid #8DB835;
        padding: 0 1rem;
        color: white;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        border-radius: 1px;
        width: 88%;
        background-color: rgba(255, 255, 255, 0);
        -webkit-box-shadow: 1px 2px 6px #ffffff;
        box-shadow: 1px 2px 6px #ffffff;
        text-shadow: 1px 2px 7px black;
        margin: 20px auto; }
        html .main-general .button .btn:hover, body .main-general .button .btn:hover {
          color: white;
          background-color: #8DB835;
          -webkit-transition: 2000ms;
          -o-transition: 2000ms;
          transition: 2000ms; }
      html .main-general .button p, body .main-general .button p {
        display: inline-block;
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        text-shadow: 1px 2px 8px black; }
    html .bullets, body .bullets {
      position: relative;
      width: 100%;
      top: 145px;
      padding: 0;
      margin: 0;
      text-align: center; } }
